<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMSC436 SwiftUI Playground.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D19AD7828208E7D0091EAF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862F90AB27CEAAF400CC0F5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862F90BB27CEAAF600CC0F5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862F90C527CEAAF600CC0F5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
